* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* LOGIN */
        .login {
            width: 300px;
            margin: 100px auto;
            background: #fff;
            padding: 20px;
            border-radius: 5px;
        }
        #login {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
        }
        #btnlogin {
            width: 100%;
            padding: 10px;
            background: #e63946;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        .erro {
            color: red;
            text-align: center;
        }